In [7]:
a="Bipin "

In [2]:
type(a)

str

In [3]:
s1="Hello I am Amit"
type(s1)

str

In [4]:
s2='''
Hello I am Amit
I am from Nepal
I am a student
'''
print(s2)

Hello I am Amit
I am from Nepal
I am a student

In [5]:
type(s2)

str

In [8]:
len(a)

6

In [9]:
len(s1)

15

In [10]:
len(s2)

48

In [31]:
list(s4)

[' ',
 'H',
 'i',
 ' ',
 'I',
 ' ',
 'a',
 'm',
 ' ',
 'V',
 'i',
 'c',
 'k',
 'y',
 ',',
 ' ',
 'a',
 'n',
 'd',
 ' ',
 'I',
 'a',
 'm',
 ',',
 ' ',
 'g',
 'o',
 'i',
 'n',
 'g',
 ' ',
 't',
 'o',
 ' ',
 'S',
 'o',
 'u',
 't',
 'h',
 'K',
 'o',
 'r',
 'e',
 'a']

In [23]:
s4.find("Vicky")

9

In [29]:
s4.split(",")

[' Hi I am Vicky', ' and Iam', ' going to SouthKorea']

In [22]:
s4.replace("Vicky","Amit")

' Hi I am Amit and Iam going to SouthKorea'

In [20]:
s4.replace("Vicky","Amit")

'Amit'

In [16]:
s4.upper()

'VICKY'

In [17]:
s4.lower()

'vicky'

In [15]:
s4[2:4]

'ck'

In [12]:
s4[0]

'V'

In [13]:
s4[-5]

'V'

In [14]:
s4[2]

'c'

In [32]:
s4="Vicky"

In [36]:
s4[2:]

'cky'